fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-dotenv
python-multipart
pydantic[email]
gunicorn
httpx
firebase-admin
openpyxl==3.1.5
xlrd==2.0.2